<!doctype html> 
  
<head> 
  
<title>Jalkahoitola Amalia</title> 
  
</head> 
  
<body> 
    <a href="http://localhost:3000/"> Etusivu </a>
    <a href="http://localhost:3000/ajanvaraus"> Ajanvaraus </a>
    <a href="http://localhost:3000/palvelut"> palvelut </a>
    <a href="http://localhost:3000/tuotteet"> tuotteet </a>
  
{{{body}}}
  
</body> 
  
</html>
