<!doctype html> 
  
<head> 
  <meta charset="utf-8">
  <link rel="stylesheet" href="table.css">
<title>Jalkahoitola Amalia</title> 

</head> 
  
<body> 
    
<ul class="sidenav">
    <li><a id="main" href="/#main"> Etusivu </a></li>
    <li><a id="palvelut" href="/palvelut#palvelut" > Palvelut </a></li>
    <li><a id="tuotteet" href="/tuotteet#tuotteet"> Tuotteet </a></li>
    <li><a id="ajanvaraus" href="/ajanvaraus#ajanvaraus"> Ajanvaraus </a></li> 
</ul>

<div class="content">
 {{{body}}}
</div>
  

  
</body> 
  
</html>
