<div id="site-container" class="grid">

		<header class="row">
			<h1 class="c12">Jalkahoitola Amalia</h1>
		</header>

		<div id="site-content" role="main">

			<div class="row">
				<div class="c3">
					<h3>Yhteystiedot</h3>
					<ul class="contact">
						<li>Pakkahuoneenkatu 4</li>
						<li>26100 RAUMA</li>
						<li>045-858 3303</li>
					</ul>
				</div>
				<div class="c4">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d810.0137824071257!2d21.506161012543096!3d61.12723573120415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46897e0ec5253ced%3A0xb22e1bd68fbb4ac7!2sKunto-Rauma+Ky!5e0!3m2!1sfi!2sfi!4v1491740445581" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>

			<div class="row">
				<div class="c6 s3">
				</div>
			</div>

			<div class="row">
				<div class="c8">
				</div>
				<div class="c4 end">
					<div class="row">
						<div class="c6">
						</div>
						<div class="c6 end">
						</div>
					</div>

				</div>
			</div>

			<div class="row">
				<div class="c4">
				</div>
				<div class="c4">
				</div>
				<div class="c4 end">
				</div>
			</div>

		</div>

		<footer class="row">

			<div class="c3">
			</div>
			<div class="c3">
			</div>
			<div class="c3">
			</div>
			<div class="c3 end">
			</div>

		</footer>
	</div>
