<div id="site-container" class="grid">

	<header class="row">
		<h1 class="c12">Jalkahoitola Amalia</h1>
	</header>

	<div id="site-content" role="main">

		<div class="row">
			<div class="c2">
				<h3>Yhteystiedot</h3>
				<ul class="contact">
					<li>Pakkahuoneenkatu 4</li>
					<li>26100 RAUMA</li>
					<li>045-858 3303</li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="c5">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d866.4833062941434!2d21.506092493541235!3d61.12716499013183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46897e092a45c0ed%3A0x4d2995c7513c73b4!2sJalkahoitola+Amalia!5e0!3m2!1sfi!2sfi!4v1492603560095"
				 width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
		<div class="row">
			<div class="c4">
				<img class="w640" src="http://imgur.com/Qs5u9Wg.jpg" height="500" width="500">
			</div>
			<br>
			<div class="c4">
				<img class="w640" src="http://i.imgur.com/3mbKNBZ.jpg" height="500" width="500">
			</div>
		</div>
	</div>	
</div>
