




<h1>Palvelut</h1>
<p> </p>
<h2> Hinnasto </h2>

<table>
  <tr>
    <th>Palvelu</th>
    <th>Hinta (€)</th> 
    <th>Kuvaus</th>
  </tr>
  <tr>
    <td>Perusjalkahoito</td>
    <td>38</td> 
    <td>Tarpeen mukainen hoito.
        Pääasiassa jalkakylpy, kynsien leikkaus/ohennus, kovettumien poisto, rasvaus/lyhyt hieronta.
    </td>
  </tr>
  <tr>
    <td>Hemmottelevajalkahoito</td>
    <td>45</td> 
    <td>jalkakylpy, kynsien leikkaus/ohennus, kovettumien poisto, rasvaus, jalkakuorinta, jalkanaamio ja hieronta</td>
  </tr>
  <tr>
    <td>Osajalkahoito</td>
    <td>28</td> 
    <td>Jokin edellä mainituista esimerkiksi kynsien leikkaus</td>
  </tr>
  <tr>
    <td>Yksittäinen hoitotoimenpide</td>
    <td>15</td> 
    <td>Yksittäinen hoitotoimenpide</td>
  </tr>
</table>

<p> </p>

<div>
<figure>
		<img src="http://i.imgur.com/mKSt4ej.jpg" alt="Tuotehylly ja odotustuoli" height="400" width="400">
		<figcaption>Tuotehylly ja odotustuoli</figcaption>
</figure>
</div>
