<h1>Tuotteet</h1>
<div>

<div class="c3">

    <table>

        <tr>
            <th>Nimi</th>
            <th>Hinta</th>
        </tr>

{{#each tuotteet}}
        <tr>
            <td>{{nimi}}</td>
            <td>{{hinta}}</td>
        </tr>
{{/each}}
    </table>

</div>
<div class="c8">
	<img class="w320" src="http://i.imgur.com/z78P0Je.jpg" height="400" width="500">
</div>
</div>
<div>
<br>
</div>
